/*layout section*/
header img
{
	width: 100%;
}

.nav
{
	margin-bottom: 50px;
}

header h1
{
	font-weight: 600;
	font-family: 'Dancing Script', cursive;
	font-size: 6vw;
	text-align: center;
	width: auto;
	position: absolute;
	z-index: 41;
}

#color_mask
{
	position: absolute;
	opacity: 0.2;
	border: 0;
	z-index: 40;
  float: left;
	padding: 0;
	margin: 0;
	width: 100%
}

#page_layout
{
	overflow: hidden;
}

#name
{
	top: 2.8em;
	left: 4.5em;
}

#last_name
{
	top: 2.8em;
	left: 9em;
}
/*end of the layout section*/

/*index page section*/
#about
{
	margin-top: 15px;
	text-align: justify;
}

span
{
	padding-left: 40px;
}

.valeria_img
{
	height: auto;
	width: 100%;
	float: right;
}

#about_text
{
	border: solid powderblue 1px;
	font-weight: 400;
}

/*end of the index section*/

/*books page section*/
#warrior, #locked_heart, #great_masters, #liberty
{
	margin-top: 20px;
	font-size: 1.2rem;
	text-align: center;
  height: 50px;
}

div > div > div img
{
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-height: 100%;
	max-width: 100%;
}

p
{
  text-align: justify;
}

.book_img
{
  margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: auto;
  max-height: 300px;
}

/*end of the books section*/
