header img
{
	width: 100%;
}

header h1
{
	font-weight: 600;
	font-family: 'Dancing Script', cursive;
	font-size: 6vw;
	text-align: center;
	width: auto;
	position: absolute;
	z-index: 41;
}

#color_mask
{
	position: absolute;
	opacity: 0.3;
	border: 0;
	z-index: 40;
  float: left;
	padding: 0;
	margin: 0;
	width: 100%
}

#page_layout
{
	overflow: hidden;
}

#name
{
	top: 2.8em;
	left: 4.5em;
}

#last_name
{
	top: 2.8em;
	left: 9em;
}

/*index page section*/
#about
{
	margin-top: 15px;
	text-align: justify;
}

span
{
	padding-left: 40px;
}

.valeria_img
{
	height: auto;
	width: 100%;
	float: right;
	padding-bottom: 10%;
}

#about_text
{
	border: solid powderblue 1px;
	font-weight: 400;
	/*background-color: powderblue;*/
}

/*books page section*/
#warrior, #locked_heart, #great_masters, #liberty
{
	margin-top: 40px;
	font-size: 1.5rem;
	text-align: center;
}

.book_img
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
}
